--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
streamlit
extra-streamlit-components==0.1.60

python-dotenv
requests
argon2-cffi
pandas
duckdb
tabulate
python-jose
python-multipart
sqlglot

chromadb

langchain
langchain-core
langchain-community
langchain-classic
langchain-chroma
langchain-groq
langchain-cohere
langchain-text-splitters
langchain-huggingface
sentence-transformers

cohere
openai
pypdf
python-docx

pytest
pytest-cov
