fastapi
uvicorn[standard]
streamlit

python-dotenv
requests
passlib[bcrypt]
pandas
duckdb
tabulate
python-jose

chromadb

langchain
langchain-core
langchain-community
langchain-classic
langchain-chroma
langchain-groq
langchain-cohere

cohere
openai

pytest